package ${basePackage}.dao;

import ${basePackage}.bean.${className};
import org.apache.ibatis.annotations.Mapper;

import java.util.List;
import java.util.Map;

/**
* @Author: ${author}
*/
@Mapper
public interface ${className}Dao
{
List<${className}> find${complexClassName}(Map
<String, Object> map);

Integer find${complexClassName}Count(Map
<String, Object> map);

${className} find${className}ById(Integer id);

int insert${className}(${className} ${instanceName});

void delete${className}ById(Integer id);

void delete${complexClassName}(String ids);

int update${className}(${className} ${instanceName});
}
