<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="https://www.layui.com/admin/std/dist/layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="https://www.layui.com/admin/std/dist/layuiadmin/style/admin.css" media="all">
</head>
<body>

<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">${tableComment}列表</div>
                <div class="layui-card-body">
                    <div style="margin-bottom: 10px;">
                        <div class="layui-input-item" style="float:left;padding-right:10px;">
                            <div class="layui-inline">
                                <input id="keyword" type="text" name="title" required lay-verify="required"
                                       placeholder="请输入关键词"
                                       autocomplete="off" class="layui-input layui-input-search" style="height:32px;">
                            </div>
                            <div class="layui-inline">
                                <a id="btn-search" class="layui-btn layui-btn-sm">查找</a>
                            </div>
                        </div>
                        <div style="float:right;">
                            <a id="btn-add" class="layui-btn layui-btn-sm">添加</a>
                            <!--<a class="layui-btn layui-btn-sm layui-btn-primary" lay-event="del">删除</a>-->
                            <a id="btn-refresh" class="layui-btn layui-btn-sm layui-btn-primary">刷新</a>
                        </div>
                        <div style="clear:both;"></div>
                    </div>
                    <table class="layui-hide" id="data-table" lay-filter="data-table"></table>
                    <script type="text/html" id="toolbar-operation">
                        <a class="layui-btn layui-btn-xs" lay-event="edit">详情</a>
                        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/html" id="popup-form">
    <div class="layui-card">
        <div class="layui-card-header">${tableComment}详情</div>
        <div class="layui-card-body">
            <form class="layui-form" action="#" lay-filter="popup-form">
#foreach($field in $fields)
#if(!$field.autoIncrement)
                <div class="layui-form-item">
                    <label class="layui-form-label">#if($field.notNull)*#end${field.comment}</label>
                    <div class="layui-input-block">
                        <input type="${field.htmlType}" name="${field.propertyName}" class="layui-input" #if($field.notNull)lay-verify="required"#end>
                    </div>
                </div>
#else
                <input type="hidden" name="${field.propertyName}">
#end
#end
                <div class="layui-form-item">
                    <button class="layui-btn layui-btn-fluid" lay-submit lay-filter="form-submit">确定</button>
                </div>
            </form>
        </div>
    </div>
</script>
<script src="layuiadmin/layui/layui.js"></script>
<script>
    layui.config({
        base: 'layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'table', 'form'], function () {
        var $ = layui.$;
        var table = layui.table;
        var form = layui.form;
        var admin = layui.admin;
        var popupIndex;
        table.render({
            elem: '#data-table',
            url: 'find${complexClassName}',
            title: '',
            skin: 'line',
            cols: [[
#foreach($field in $fields)
#if(!$field.autoIncrement)
                {field: '${field.propertyName}', title: '${field.comment}'},
#end
#end
                {fixed: 'right', title: '操作', toolbar: '#toolbar-operation', width: 120}
            ]],
            page: true
        });

        function showPopupForm() {
            popupIndex = admin.popupRight({
                area: '360px',
                success: function () {
                    var formHtml = $('#popup-form').html();
                    $('#' + this.id).html(formHtml);
                    form.render();
                }
            });
            return popupIndex;
        }

        function closePopupForm() {
            if (popupIndex) {
                layer.close(popupIndex);
            }
        }

        function search(){
            table.reload('data-table', {
                where: {
                    keyword: $('#keyword').val()
                }
            });
        }

        $("#btn-search").on('click', function () {
            search();
        })

        $('#keyword').keypress(function(e){
            if(e.which==13){
                search();
            }
        });

        $("#btn-add").on('click', function () {
            popupIndex = showPopupForm();
        })

        $("#btn-refresh").on('click', function () {
            table.reload('data-table');
            layer.msg('表格已刷新');
        })

        table.on('tool(data-table)', function (obj) {
            var data = obj.data;
            if (obj.event === 'del') {
                layer.confirm('真的删除该记录吗？', function (index) {
                    $.get('delete${className}ById/'+data.id,function (result) {
                        if (result == 1) {
                            layer.msg('删除成功');
                            table.reload('data-table');
                        } else {
                            layer.msg('删除失败');
                            console.error('提交失败');
                        }
                    });
                    layer.close(index);
                });
            } else if (obj.event === 'edit') {
                showPopupForm();
                form.val('popup-form', data);
            }
        });

        form.on('submit(form-submit)', function (data) {
            $.post('save${className}', data.field, function (result) {
                if (result == 1) {
                    layer.msg('提交成功');
                    table.reload('data-table');
                } else {
                    layer.msg('提交失败');
                    console.error('提交失败');
                }
            });
            closePopupForm();
            return false;
        });

    });
</script>
</body>
</html>