<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="${basePackage}.dao.${className}Dao">

    <select id="find${className}ById" resultType="${basePackage}.bean.${className}" parameterType="int">
        select * from ${tableName} where id = #{id}
    </select>

    <select id="find${complexClassName}" resultType="${basePackage}.bean.${className}">
        select * from ${tableName}
        <where>
#foreach($field in $fields)
#if($field.searchable)
#if($field.enumeration)
            <if test="${field.propertyName} != null">
                and ${field.columnName} = #{${field.propertyName}}
            </if>
#else
            <if test="${field.propertyName} != null">
                and ${field.columnName} like concat("%",#{${field.propertyName}},"%")
            </if>
#end
#end
#end
        </where>
        <if test="start!=null and length!=null">
            limit #{start},#{length}
        </if>
    </select>

    <select id="find${complexClassName}Count" resultType="int">
        select count(1) from ${tableName}
        <where>
#foreach($field in $fields)
#if($field.searchable)
#if($field.enumeration)
            <if test="${field.propertyName} != null">
                and ${field.columnName} = #{${field.propertyName}}
            </if>
#else
            <if test="${field.propertyName} != null">
                and ${field.columnName} like concat("%",#{${field.propertyName}},"%")
            </if>
#end
#end
#end
        </where>
    </select>

    <delete id="delete${className}ById" parameterType="int">
        delete from ${tableName} where id = #{id}
    </delete>

    <delete id="delete${complexClassName}" parameterType="string">
        delete from ${tableName} where id in (${_parameter})
    </delete>

    <insert id="insert${className}" parameterType="${basePackage}.bean.${className}">
        insert into ${tableName} (${columns})
        values (${properties})
    </insert>

    <update id="update${className}" parameterType="${basePackage}.bean.${className}">
        update ${tableName}
        <set>
#foreach($field in $fields)
#if(!$field.autoIncrement)
            `${field.columnName}` = #{${field.propertyName}},
#end
#end
        </set>
        where id = #{id}
    </update>
</mapper>