package ${basePackage}.bean;

import com.fasterxml.jackson.annotation.JsonFormat;
import lombok.Data;
import org.springframework.format.annotation.DateTimeFormat;

#foreach($imp in $imports)
import ${imp};
#end

/**
 * ${tableComment}
 *
 * @Author: ${author}
 */
@Data
public class ${className}
{
#foreach($field in $fields)
    /**
     * ${field.comment}
     */
#if($field.columnType == 91)
    @DateTimeFormat(pattern = "yyyy-MM-dd")
    @JsonFormat(pattern = "yyyy-MM-dd", timezone = "GMT+8")
#end
#if($field.columnType == 93)
    @DateTimeFormat(pattern = "yyyy-MM-dd HH:mm:ss")
    @JsonFormat(pattern = "yyyy-MM-dd HH:mm:ss", timezone = "GMT+8")
#end
    private ${field.propertyType} ${field.propertyName};
#end
}
