package ${basePackage}.bean;

import lombok.Data;

#foreach($imp in $imports)
import ${imp};
#end
/**
 * ${tableComment}
 * @Author: ${author}
 */
@Data
public class ${className}
{
#foreach($field in $fields)
    /**
     * ${field.comment}
     */
    private ${field.propertyType} ${field.propertyName};
#end
}
